##### Using mullti variable for Time Series Forcasting

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import keras
from keras.layers import SimpleRNN
import yfinance as yahooFinance
from keras.utils import timeseries_dataset_from_array
import tensorflow as tf
import datetime

WARNING:tensorflow:From c:\Users\TeeFaith\anaconda3\envs\kenny\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

##### Data Preprocessing

In [2]:
df = pd.read_csv('BTC-sep-2023-2024.csv', parse_dates=["Date"])
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-09-21 00:00:00+00:00,27129.839844,27152.939453,26389.300781,26567.632812,13371443708,0.0,0.0
1,2023-09-22 00:00:00+00:00,26564.056641,26726.078125,26495.533203,26579.568359,10578746709,0.0,0.0
2,2023-09-23 00:00:00+00:00,26578.556641,26634.185547,26520.519531,26579.390625,7404700301,0.0,0.0
3,2023-09-24 00:00:00+00:00,26579.373047,26716.058594,26221.050781,26256.826172,8192867686,0.0,0.0
4,2023-09-25 00:00:00+00:00,26253.775391,26421.507812,26011.468750,26298.480469,11997833257,0.0,0.0
...,...,...,...,...,...,...,...,...
360,2024-09-15 00:00:00+00:00,60000.726562,60381.917969,58696.308594,59182.835938,18120960867,0.0,0.0
361,2024-09-16 00:00:00+00:00,59185.226562,59205.511719,57501.339844,58192.507812,32032822113,0.0,0.0
362,2024-09-17 00:00:00+00:00,58192.507812,61316.089844,57628.070312,60308.539062,38075570118,0.0,0.0
363,2024-09-18 00:00:00+00:00,60309.000000,61664.066406,59218.253906,61649.679688,40990702891,0.0,0.0
364,2024-09-19 00:00:00+00:00,61651.156250,63872.441406,61609.867188,62940.457031,42710252573,0.0,0.0

In [3]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [5]:
df2 = df.sort_values("Date").set_index("Date")
df2

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-21,27129.839844,27152.939453,26389.300781,26567.632812,13371443708,0.0,0.0
2023-09-22,26564.056641,26726.078125,26495.533203,26579.568359,10578746709,0.0,0.0
2023-09-23,26578.556641,26634.185547,26520.519531,26579.390625,7404700301,0.0,0.0
2023-09-24,26579.373047,26716.058594,26221.050781,26256.826172,8192867686,0.0,0.0
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,11997833257,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-15,60000.726562,60381.917969,58696.308594,59182.835938,18120960867,0.0,0.0
2024-09-16,59185.226562,59205.511719,57501.339844,58192.507812,32032822113,0.0,0.0
2024-09-17,58192.507812,61316.089844,57628.070312,60308.539062,38075570118,0.0,0.0
2024-09-18,60309.000000,61664.066406,59218.253906,61649.679688,40990702891,0.0,0.0
2024-09-19,61651.156250,63872.441406,61609.867188,62940.457031,42710252573,0.0,0.0

In [12]:
df3 = df2.drop(['Dividends', 'Stock Splits', 'Volume'], axis='columns')
df3

                    Open          High           Low         Close
Date
2023-09-21  27129.839844  27152.939453  26389.300781  26567.632812
2023-09-22  26564.056641  26726.078125  26495.533203  26579.568359
2023-09-23  26578.556641  26634.185547  26520.519531  26579.390625
2023-09-24  26579.373047  26716.058594  26221.050781  26256.826172
2023-09-25  26253.775391  26421.507812  26011.468750  26298.480469
...                  ...           ...           ...           ...
2024-09-15  60000.726562  60381.917969  58696.308594  59182.835938
2024-09-16  59185.226562  59205.511719  57501.339844  58192.507812
2024-09-17  58192.507812  61316.089844  57628.070312  60308.539062
2024-09-18  60309.000000  61664.066406  59218.253906  61649.679688
2024-09-19  61651.156250  63872.441406  61609.867188  62940.457031

[365 rows x 4 columns]

##### Split the data into train, valid and test sets

In [13]:
train_data = df3["2023-09":"2024-7-26"] / 1e6
valid_data = df3["2024-07-27":"2024-08"] / 1e6
test_data = df3["2024-09":] / 1e6

In [14]:
seq_length = 20

In [24]:
def split_inputs_and_targets(mulvar_series, ahead=5,target_col=1):
    return mulvar_series[:, :-ahead], mulvar_series[:, -ahead:,target_col]


ahead_train_ds = tf.keras.utils.timeseries_dataset_from_array(train_data.to_numpy(),
 targets=None,
 sequence_length=seq_length + 5,
 batch_size=32,
 shuffle=True,
 seed=42
).map(split_inputs_and_targets)

ahead_valid_ds = tf.keras.utils.timeseries_dataset_from_array(
 valid_data.to_numpy(),
 targets=None,
 sequence_length=seq_length + 5,
 batch_size=32
).map(split_inputs_and_targets)

In [25]:
tf.random.set_seed(42)

In [26]:
model = keras.Sequential([
 keras.layers.LSTM(32, return_sequences=True, input_shape=[None, 4]),
 keras.layers.LSTM(32, return_sequences=True),
 keras.layers.LSTM(10),
 keras.layers.Dense(5)
])

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_3 (LSTM)               (None, None, 32)          4736

 lstm_4 (LSTM)               (None, None, 32)          8320

 lstm_5 (LSTM)               (None, 10)                1720

 dense_1 (Dense)             (None, 5)                 55

=================================================================
Total params: 14831 (57.93 KB)
Trainable params: 14831 (57.93 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
early_stopping_cb = keras.callbacks.EarlyStopping(monitor="val_mae", patience=50, restore_best_weights=True)
opt = keras.optimizers.SGD(learning_rate=0.02, momentum=0.9)
model.compile(loss=keras.losses.Huber(), optimizer=opt,metrics=["mae"])

In [29]:
history = model.fit(ahead_train_ds, validation_data=ahead_valid_ds,epochs=100,callbacks=[early_stopping_cb])

Epoch 1/100
9/9 [==============================] - 114s 714ms/step - loss: 0.0016 - mae: 0.0522 - val_loss: 0.0010 - val_mae: 0.0446
Epoch 2/100
9/9 [==============================] - 0s 48ms/step - loss: 4.4008e-04 - mae: 0.0251 - val_loss: 1.6022e-04 - val_mae: 0.0153
Epoch 3/100
9/9 [==============================] - 0s 44ms/step - loss: 2.0838e-04 - mae: 0.0168 - val_loss: 5.4731e-05 - val_mae: 0.0080
Epoch 4/100
9/9 [==============================] - 0s 47ms/step - loss: 1.8151e-04 - mae: 0.0153 - val_loss: 1.7878e-05 - val_mae: 0.0052
Epoch 5/100
9/9 [==============================] - 0s 46ms/step - loss: 1.3127e-04 - mae: 0.0139 - val_loss: 3.8109e-05 - val_mae: 0.0074
Epoch 6/100
9/9 [==============================] - 0s 45ms/step - loss: 1.1823e-04 - mae: 0.0137 - val_loss: 5.3688e-05 - val_mae: 0.0094
Epoch 7/100
9/9 [==============================] - 0s 43ms/step - loss: 1.1833e-04 - mae: 0.0138 - val_loss: 4.9100e-05 - val_mae: 0.0093
Epoch 8/100
9/9 [==============================] - 1s 59ms/step - loss: 1.1693e-04 - mae: 0.0138 - val_loss: 3.8131e-05 - val_mae: 0.0084
Epoch 9/100
9/9 [==============================] - 1s 50ms/step - loss: 1.1561e-04 - mae: 0.0137 - val_loss: 3.5223e-05 - val_mae: 0.0080
Epoch 10/100
9/9 [==============================] - 1s 60ms/step - loss: 1.1523e-04 - mae: 0.0137 - val_loss: 3.6490e-05 - val_mae: 0.0081
Epoch 11/100
9/9 [==============================] - 1s 48ms/step - loss: 1.1518e-04 - mae: 0.0137 - val_loss: 3.9604e-05 - val_mae: 0.0084
Epoch 12/100
9/9 [==============================] - 0s 47ms/step - loss: 1.1498e-04 - mae: 0.0137 - val_loss: 3.9388e-05 - val_mae: 0.0084
Epoch 13/100
9/9 [==============================] - 0s 46ms/step - loss: 1.1490e-04 - mae: 0.0137 - val_loss: 3.7221e-05 - val_mae: 0.0082
Epoch 14/100
9/9 [==============================] - 0s 48ms/step - loss: 1.1477e-04 - mae: 0.0137 - val_loss: 3.7250e-05 - val_mae: 0.0082
Epoch 15/100
9/9 [==============================] - 1s 61ms/step - loss: 1.1460e-04 - mae: 0.0137 - val_loss: 3.9067e-05 - val_mae: 0.0084
Epoch 16/100
9/9 [==============================] - 0s 46ms/step - loss: 1.1479e-04 - mae: 0.0137 - val_loss: 4.0491e-05 - val_mae: 0.0086
Epoch 17/100
9/9 [==============================] - 1s 50ms/step - loss: 1.1443e-04 - mae: 0.0137 - val_loss: 3.8696e-05 - val_mae: 0.0084
Epoch 18/100
9/9 [==============================] - 0s 44ms/step - loss: 1.1444e-04 - mae: 0.0137 - val_loss: 3.5895e-05 - val_mae: 0.0081
Epoch 19/100
9/9 [==============================] - 0s 45ms/step - loss: 1.1425e-04 - mae: 0.0137 - val_loss: 3.6727e-05 - val_mae: 0.0082
Epoch 20/100
9/9 [==============================] - 0s 47ms/step - loss: 1.1432e-04 - mae: 0.0137 - val_loss: 4.1190e-05 - val_mae: 0.0086
Epoch 21/100
9/9 [==============================] - 1s 50ms/step - loss: 1.1412e-04 - mae: 0.0137 - val_loss: 4.0617e-05 - val_mae: 0.0086
Epoch 22/100
9/9 [==============================] - 0s 48ms/step - loss: 1.1408e-04 - mae: 0.0137 - val_loss: 3.5980e-05 - val_mae: 0.0081
Epoch 23/100
9/9 [==============================] - 1s 49ms/step - loss: 1.1395e-04 - mae: 0.0137 - val_loss: 3.7944e-05 - val_mae: 0.0083
Epoch 24/100
9/9 [==============================] - 0s 47ms/step - loss: 1.1375e-04 - mae: 0.0137 - val_loss: 3.7736e-05 - val_mae: 0.0083
Epoch 25/100
9/9 [==============================] - 1s 50ms/step - loss: 1.1373e-04 - mae: 0.0137 - val_loss: 3.7622e-05 - val_mae: 0.0083
Epoch 26/100
9/9 [==============================] - 1s 55ms/step - loss: 1.1355e-04 - mae: 0.0137 - val_loss: 3.9129e-05 - val_mae: 0.0084
Epoch 27/100
9/9 [==============================] - 1s 53ms/step - loss: 1.1351e-04 - mae: 0.0137 - val_loss: 3.7263e-05 - val_mae: 0.0082
Epoch 28/100
9/9 [==============================] - 1s 66ms/step - loss: 1.1336e-04 - mae: 0.0136 - val_loss: 3.7404e-05 - val_mae: 0.0082
Epoch 29/100
9/9 [==============================] - 1s 57ms/step - loss: 1.1337e-04 - mae: 0.0136 - val_loss: 3.6655e-05 - val_mae: 0.0081
Epoch 30/100
9/9 [==============================] - 1s 49ms/step - loss: 1.1329e-04 - mae: 0.0136 - val_loss: 4.0348e-05 - val_mae: 0.0085
Epoch 31/100
9/9 [==============================] - 1s 57ms/step - loss: 1.1318e-04 - mae: 0.0136 - val_loss: 3.8630e-05 - val_mae: 0.0084
Epoch 32/100
9/9 [==============================] - 1s 61ms/step - loss: 1.1296e-04 - mae: 0.0136 - val_loss: 3.8415e-05 - val_mae: 0.0084
Epoch 33/100
9/9 [==============================] - 0s 43ms/step - loss: 1.1301e-04 - mae: 0.0136 - val_loss: 3.8166e-05 - val_mae: 0.0083
Epoch 34/100
9/9 [==============================] - 0s 42ms/step - loss: 1.1277e-04 - mae: 0.0136 - val_loss: 3.5772e-05 - val_mae: 0.0081
Epoch 35/100
9/9 [==============================] - 0s 48ms/step - loss: 1.1295e-04 - mae: 0.0136 - val_loss: 3.6035e-05 - val_mae: 0.0081
Epoch 36/100
9/9 [==============================] - 1s 57ms/step - loss: 1.1262e-04 - mae: 0.0136 - val_loss: 3.7419e-05 - val_mae: 0.0082
Epoch 37/100
9/9 [==============================] - 0s 44ms/step - loss: 1.1259e-04 - mae: 0.0136 - val_loss: 3.8942e-05 - val_mae: 0.0084
Epoch 38/100
9/9 [==============================] - 0s 43ms/step - loss: 1.1255e-04 - mae: 0.0136 - val_loss: 3.6859e-05 - val_mae: 0.0082
Epoch 39/100
9/9 [==============================] - 0s 48ms/step - loss: 1.1234e-04 - mae: 0.0136 - val_loss: 3.6619e-05 - val_mae: 0.0081
Epoch 40/100
9/9 [==============================] - 0s 45ms/step - loss: 1.1225e-04 - mae: 0.0136 - val_loss: 3.8996e-05 - val_mae: 0.0084
Epoch 41/100
9/9 [==============================] - 0s 49ms/step - loss: 1.1217e-04 - mae: 0.0136 - val_loss: 3.9196e-05 - val_mae: 0.0084
Epoch 42/100
9/9 [==============================] - 0s 45ms/step - loss: 1.1214e-04 - mae: 0.0136 - val_loss: 3.6481e-05 - val_mae: 0.0081
Epoch 43/100
9/9 [==============================] - 0s 45ms/step - loss: 1.1199e-04 - mae: 0.0136 - val_loss: 3.6013e-05 - val_mae: 0.0081
Epoch 44/100
9/9 [==============================] - 1s 70ms/step - loss: 1.1193e-04 - mae: 0.0136 - val_loss: 3.7385e-05 - val_mae: 0.0082
Epoch 45/100
9/9 [==============================] - 1s 50ms/step - loss: 1.1179e-04 - mae: 0.0136 - val_loss: 3.7323e-05 - val_mae: 0.0082
Epoch 46/100
9/9 [==============================] - 1s 52ms/step - loss: 1.1172e-04 - mae: 0.0136 - val_loss: 3.8946e-05 - val_mae: 0.0084
Epoch 47/100
9/9 [==============================] - 0s 44ms/step - loss: 1.1162e-04 - mae: 0.0136 - val_loss: 3.7473e-05 - val_mae: 0.0082
Epoch 48/100
9/9 [==============================] - 0s 48ms/step - loss: 1.1151e-04 - mae: 0.0135 - val_loss: 3.7068e-05 - val_mae: 0.0082
Epoch 49/100
9/9 [==============================] - 0s 43ms/step - loss: 1.1156e-04 - mae: 0.0135 - val_loss: 3.5454e-05 - val_mae: 0.0080
Epoch 50/100
9/9 [==============================] - 0s 50ms/step - loss: 1.1152e-04 - mae: 0.0135 - val_loss: 3.9322e-05 - val_mae: 0.0084
Epoch 51/100
9/9 [==============================] - 1s 55ms/step - loss: 1.1123e-04 - mae: 0.0135 - val_loss: 3.8588e-05 - val_mae: 0.0084
Epoch 52/100
9/9 [==============================] - 0s 43ms/step - loss: 1.1127e-04 - mae: 0.0135 - val_loss: 3.7412e-05 - val_mae: 0.0082
Epoch 53/100
9/9 [==============================] - 1s 44ms/step - loss: 1.1153e-04 - mae: 0.0135 - val_loss: 3.3649e-05 - val_mae: 0.0078
Epoch 54/100
9/9 [==============================] - 0s 49ms/step - loss: 1.1101e-04 - mae: 0.0135 - val_loss: 3.7014e-05 - val_mae: 0.0082

In [30]:
model.save('multivar_deep_v1_1.h5')

c:\Users\TeeFaith\anaconda3\envs\kenny\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [31]:
X = valid_data.to_numpy()[np.newaxis, :seq_length] 
Y_pred = model.predict(X)

1/1 [==============================] - 4s 4s/step

In [32]:
Y_pred.shape

(1, 5)